.advantages
	.container
		h2.item-title Аренда офисов в ИТ-парке — это:
		.advantages__content.row
			.col-lg-4.col-md-6
				.advantages__item.row.no-gutters.align-items-center
					.advantages__number 1
					.advantages__text
						| Высокий уровень сервиса для продуктивной работы
			.col-lg-4.col-md-6
				.advantages__item.row.no-gutters.align-items-center
					.advantages__number 2
					.advantages__text
						| Нахождение в центре инновационной жизни Челябинска
			.col-lg-4.col-md-6
				.advantages__item.row.no-gutters.align-items-center
					.advantages__number 3
					.advantages__text
						| Полезные мероприятия с именитыми гостями
			.col-lg-4.col-md-6
				.advantages__item.row.no-gutters.align-items-center
					.advantages__number 4
					.advantages__text
						| Полезные знакомства, обмен контактами и опытом
			.col-lg-4.col-md-6
				.advantages__item.row.no-gutters.align-items-center
					.advantages__number 5
					.advantages__text
						| Круглосуточный доступ в здание
			.col-lg-4.col-md-6
				.advantages__item.row.no-gutters.align-items-center
					form
						.form-group
							input(type="text", placeholder="Номер телефона или eMail").form-control.form-control--black
						.form-group
							button(type="submit").btn.btn--red.btn--full Узнать параметры офисов
