.business#business
	.container
		p.business-small-title
			b
				| Специальное решение для ИТ-предпринимателей
		h2 Бизнес-инкубатор
		.row.justify-content-between
			.col-66.col-xl-7.col-lg-7
				.text-block
					p
						| ИТ-парк — это тусовка близких по духу и профессии специалистов. Постоянная коммуникация с ними сама по себе продуктивна. А ещё это комфортные места для работы, находящиеся в центре профильной активности — митапы, хакатоны, семинары, форумы и другие движухи специально для айтишников. 
					p
						| Бизнес-инкубатор — это специальные условия по аренде рабочих мест + программа акселерации, дающая возможность перенять опыт успешных проектов для развития своего. Активность и правильное прохождение акселерационной программы инкубатора даёт PR, знания и клиентов.
				.sk
					.sk__icon.d-table-bottom
						img(src="images/sk-logo.svg", alt="")
					.sk__text.d-table-bottom
						b Челябинский ИТ-парк — региональный оператор Сколково. 
						| Мы одна из 3 организаций в России с таким статусом. Это даёт нам возможность производить экспертную оценку и финансировать стартапы.
			.col-30.col-xl-4.col-lg-4
				.news
					.news__item.news__item--black.inline-xs
						a(href="#") Расскажите руководителю бизнес-инкубатора о своём проекте
						p
							| У ИТ-парка обширная сеть контактов разработчиков, промышленников, бизнесменов и представителей правительства.  Мы обладаем авторитетом и проекты из нашего инкубатора получают соответствующую лояльность.
				.form-item
					form
						.form-group
							input(type="text", placeholder="8 (000) 000-00-00").form-control.form-control--black
						.form-group
							button(type="submit").btn.btn--red.btn--full Обсудить проект


