.coworking(style="background-image:url(images/img-6862.jpg)")
	.container
		h2.title-white Коворкинг
		.row.justify-content-between
			.col-xl-7.col-lg-7
				.text-block
					p 
						| Отличное решение для удалённого офиса разработки, небольших компаний и фрилансеров. 
					p
						| Аренда фиксированного и свободного рабочего места. Возможность контроля рабочего времени сотрудников, круглосуточное видеонаблюдение. Корпоративная система скидок.
				.form-item.hidden-md
					form
						.form-group
							input(type="text", placeholder="8 (000) 000-00-00").form-control
						.form-group
							button(type="submit").btn.btn--red.btn--full Получить бесплатный день
			.col-xl-4.col-lg-4
				.news
					.news__item
						a(href="#")
							| Для небольших компаний
						p
							| Снижение стоимости на аренду офиса и решение всех головных болей по обслуживанию офиса.
					.news__item
						a(href="#")
							| Для крупных компаний
						p
							| Зарплата в Челябинске значительно ниже, чем в Москве. Аренда офиса и его обслуживание тоже ниже, чем в столице. Это экономит ФОТ и издержки.
				.info-block
					a(href="#").btn.btn--blue open74.ru
					p
						| У коворкинга есть отдельный сайт с подробностями.
		.form-item.visible-md
			form
				.form-group
					input(type="text", placeholder="8 (000) 000-00-00").form-control
				.form-group
					button(type="submit").btn.btn--red.btn--full Получить бесплатный день


		
