.develop.text-block
	.container
		.row
			.col-lg-6
				h2 Разработка и маркетинг
				p
					| Мы сотрудничаем с ведущими студиями и специалистами Челябинска по разработке сайтов, мобильных приложений и рекламе в Интернете. Реализуем проекты «под ключ».
				p
					a(href="#") Заполните анкету 
					| для понимания вашей задачи и мы определим, что сможем вам предложить.
			.col-lg-6
				h2 
					| Детский 
					br 
					| технопарк
				p
					| «Ingenerika» — это технопарк для детей с 7 лет. 
					a(href="#") Запишите ребёнка 
					| на занятия, которые помогут ему определиться с профессией.