.event#event
	.container
		h2 События
		.event__list.row
			.col-lg-4
				.event__item
					a(href="#")
						.event__img(style="background-image: url(images/news1.jpg)")
					.event__descr
						a(href="#") Первая стратегическая сессия по программированию 
						p.date 15 ноября 2016
			.col-lg-4
				.event__item
					a(href="#")
						.event__img(style="background-image: url(images/news2.jpg)")
					.event__descr
						a(href="#") Презентация Цифрового предприятия
						p.date 15 ноября 2016
			.col-lg-4
				.event__item
					a(href="#")
						.event__img(style="background-image: url(images/news3.jpg)")
					.event__descr
						a(href="#") Первая стратегическая сессия по программированию 
						p.date 15 ноября 2016
		.row.justify-content-between
			.col-20.col-xl-3.col-lg-3.visible-xs
				.event__link
					.event__link__item
						a(href="#")
							.event__link__name
								.link Отчёты по всем событиям
							.event__link__icon
								img(src="images/calendar.svg", alt="").svg.event-calendar
					.event__link__item.event__link__item--last
						a(href="#")
							.event__link__name
								.link 
									| Виртуальная экскурсия 
									br
									| по конференц-залу
							.event__link__icon
								img(src="images/placeholder_.svg", alt="").svg.placeholder-img
			.col-66.col-xl-7.col-lg-7
				.text-block
					p
						| Мы работаем так, чтобы устанавливать долгосрочные, доверительные отношения с нашими клиентами, и обеспечивать полный зал участников на их мероприятиях. Полный комплекс услуг по проведению мероприятий — от разработки концепции до кейтеринга. Заполняемость обеспечивается за счёт отлаженного маркетинга и большой собственной базы участников, ранее посещавших события в ИТ-парке.
				.form-item.hidden-md
					form
						.form-group
							p
								b Обсудить детали с event-менеджером
						.form-group
							input(type="text", placeholder="8 (000) 000-00-00").form-control.form-control--black
						.form-group
							button(type="submit").btn.btn--red.btn--full Связаться с менеджером
			.col-20.col-xl-3.col-lg-3.hidden-xs
				.event__link
					.event__link__item
						a(href="#")
							.event__link__name
								.link Отчёты по всем событиям
							.event__link__icon
								img(src="images/calendar.svg", alt="").svg.event-calendar
					.event__link__item.event__link__item--last
						a(href="#")
							.event__link__name
								.link 
									| Виртуальная экскурсия 
									br
									| по конференц-залу
							.event__link__icon
								img(src="images/placeholder_.svg", alt="").svg.placeholder-img
		.form-item.visible-md
					form
						.form-group
							p
								b Обсудить детали с event-менеджером
						.form-group
							input(type="text", placeholder="8 (000) 000-00-00").form-control.form-control--black
						.form-group
							button(type="submit").btn.btn--red.btn--full Связаться с менеджером



