footer.footer
	.container
		.footer__top.row.no-gutters.justify-content-between.align-items-center
			.copyright
				| 2017 © 
				a(href="#") ООО «Технопарк ИТ»
			.footer__adress
				| Урал, Челябинск, Молодогвардейцев 31
			.footer__contact
				a(href="#") 8 (351) 220-33-73
			.footer__contact
				a(href="#") info@itpark74.ru
		.footer__bottom.row.no-gutters.justify-content-between
			div
			div
				a(href="#")
					img(src="images/engine.svg", alt="").svg.engine-icon
