.review
	.container
		h2 Авторитетные мнения об ИТ-парке
		.review__tab.row.hidden-md
			.col-lg-3
				.review__tab__item.is-active
					.review__tab__img.d-table-cell
						div(style="background-image: url(http://via.placeholder.com/60x105)")
					.review__tab__text.d-table-cell 
						| Козлов Александр Сергеевич, Министр Информационных Технологий Челябинска
			.col-lg-3
				.review__tab__item
					.review__tab__img.d-table-cell
						div(style="background-image: url(http://via.placeholder.com/60x105)")
					.review__tab__text.d-table-cell 
						| Сергеев Иван Сергеевич, ректор факультета "Дизайн" в МГУ
			.col-lg-3
				.review__tab__item
					.review__tab__img.d-table-cell
						div(style="background-image: url(http://via.placeholder.com/60x105)")
					.review__tab__text.d-table-cell 
						| Сергеева Иваннна Сергеевна, ректор факультета "Архитектура"
			.col-lg-3
				.review__tab__item
					.review__tab__img.d-table-cell
						div(style="background-image: url(http://via.placeholder.com/60x105)") 
					.review__tab__text.d-table-cell 
						| Сергеев Иван Сергеевич, директор МГУ
		.review__content.hidden-md
			.review__content__img.d-table-top
				div(style="background-image: url(http://via.placeholder.com/130x150)") 
			.review__content__text.text-block.d-table-top
				p
					| «Информационное общество-2017: Умный регион. Безопасность и инновации». Качественно выполненная работа на высоком профессиональном уровне, гибкий подход к делу, восприимчивость к пожеланиям, умение решать проблемы в кратчайший срок позволяют высоко оценить наше сотрудничество с ООО «Технопарк информационных технологий»

		.visible-md
			.mobile-review
				.review__tab__item.is-active
					.review__tab__img.d-table-cell
						div(style="background-image: url(http://via.placeholder.com/60x105)")
					.review__tab__text.d-table-cell 
						| Козлов Александр Сергеевич, Министр Информационных Технологий Челябинска
				.review__content
					.review__content__text.text-block.d-table-top
						p
							| «Информационное общество-2017: Умный регион. Безопасность и инновации». Качественно выполненная работа на высоком профессиональном уровне, гибкий подход к делу, восприимчивость к пожеланиям, умение решать проблемы в кратчайший срок позволяют высоко оценить наше сотрудничество с ООО «Технопарк информационных технологий»
			.mobile-review
				.review__tab__item
					.review__tab__img.d-table-cell
						div(style="background-image: url(http://via.placeholder.com/60x105)")
					.review__tab__text.d-table-cell 
						| Сергеев Иван Сергеевич, ректор факультета "Дизайн" в МГУ
			.mobile-review
				.review__tab__item
					.review__tab__img.d-table-cell
						div(style="background-image: url(http://via.placeholder.com/60x105)")
					.review__tab__text.d-table-cell 
						| Сергеев Иван Сергеевич, ректор факультета "Дизайн" в МГУ
			.mobile-review
				.review__tab__item
					.review__tab__img.d-table-cell
						div(style="background-image: url(http://via.placeholder.com/60x105)")
					.review__tab__text.d-table-cell 
						| Сергеев Иван Сергеевич, ректор факультета "Дизайн" в МГУ
		.review__more.text-block
			p
				a(href="#") Все мнения