.service#techno
	.container
		h2 Заголовок
	.container-fluid
		.row
			.col-lg-4.col-md-6
				a(href="#")
					.service__item
						.service__img(style="background-image: url(images/serv1.png)")
						.service__descr.row.no-gutters.align-items-center
							div
								span Аренда офисов
								br
								| в полностью укомплектованном бизнес-центре от 10 до 1000 м²
			.col-lg-4.col-md-6
				a(href="#")
					.service__item
						.service__img(style="background-image: url(images/serv2.png)")
						.service__descr.row.no-gutters.align-items-center
							div
								span Коворкинг 
								| — аренда удобного, полностью готового и круглосуточно доступного рабочего места 
			.col-lg-4.col-md-6
				a(href="#")
					.service__item
						.service__img(style="background-image: url(images/serv3.png)")
						.service__descr.row.no-gutters.align-items-center
							div
								span Бизнес-инкубатор, 
								| инвестиции, нетворкинг и другие инструменты развития проектов 
			.col-lg-4.col-md-6
				a(href="#")
					.service__item
						.service__img(style="background-image: url(images/serv4.png)")
						.service__descr.row.no-gutters.align-items-center
							div
								span Организация событий
								br
								| от разработки концепции до кейтеринга
			.col-lg-4.col-md-6
				a(href="#")
					.service__item
						.service__img(style="background-image: url(images/serv5.png)")
						.service__descr.row.no-gutters.align-items-center
							div
								span Обучение детей 
								| с 7 лет ИТ-технологиям в детском технопарке «Ingenerika»
			.col-lg-4.col-md-6
				a(href="#")
					.service__item
						.service__img(style="background-image: url(images/serv6.png)")
						.service__descr.row.no-gutters.align-items-center
							div
								span Разработка
								|  сайтов, мобильных приложений и реклама в Интернете

			




