.widget
	.container
		h2.title-widget Прямой эфир из наших соцсетей
		.row
			.col-lg-6
				.widget__item
					img(src="images/vk-widget.jpg", alt="")
			.col-lg-6
				.widget__item
					img(src="images/facebook-widget.jpg", alt="")