extends pug/base

append vars
	//- ...

block content
	include pug/top-block
	include pug/service
	include pug/advantages
	include pug/coworking
	include pug/business
	include pug/event
	include pug/develop
	include pug/review
	include pug/widget
	include pug/footer
	script
		include js/video.js
		






