@import "variables";

.coworking{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	color: #fff;
	padding: 70px 0;
}
.info-block{
	margin-top: 80px;

	p{
		margin-top: 15px;
	}
}