@font-face {
    font-family: 'AvenirNextCyrBoldItalic';
    src: url('../fonts/AvenirNextCyrBoldItalic/AvenirNextCyrBoldItalic.eot');
    src: url('../fonts/AvenirNextCyrBoldItalic/AvenirNextCyrBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextCyrBoldItalic/AvenirNextCyrBoldItalic.woff2') format('woff2'),
         url('../fonts/AvenirNextCyrBoldItalic/AvenirNextCyrBoldItalic.woff') format('woff'),
         url('../fonts/AvenirNextCyrBoldItalic/AvenirNextCyrBoldItalic.ttf') format('truetype'),
         url('../fonts/AvenirNextCyrBoldItalic/AvenirNextCyrBoldItalic.svg#AvenirNextCyrBoldItalic') format('svg');
}

@font-face {
    font-family: 'AvenirNextCyrBold';
    src: url('../fonts/AvenirNextCyrBold/AvenirNextCyrBold.eot');
    src: url('../fonts/AvenirNextCyrBold/AvenirNextCyrBold.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextCyrBold/AvenirNextCyrBold.woff2') format('woff2'),
         url('../fonts/AvenirNextCyrBold/AvenirNextCyrBold.woff') format('woff'),
         url('../fonts/AvenirNextCyrBold/AvenirNextCyrBold.ttf') format('truetype'),
         url('../fonts/AvenirNextCyrBold/AvenirNextCyrBold.svg#AvenirNextCyrBold') format('svg');
}
@font-face {
    font-family: 'AvenirNextCyrItalic';
    src: url('../fonts/AvenirNextCyrItalic/AvenirNextCyrItalic.eot');
    src: url('../fonts/AvenirNextCyrItalic/AvenirNextCyrItalic.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextCyrItalic/AvenirNextCyrItalic.woff2') format('woff2'),
         url('../fonts/AvenirNextCyrItalic/AvenirNextCyrItalic.woff') format('woff'),
         url('../fonts/AvenirNextCyrItalic/AvenirNextCyrItalic.ttf') format('truetype'),
         url('../fonts/AvenirNextCyrItalic/AvenirNextCyrItalic.svg#AvenirNextCyrItalic') format('svg');
}

@font-face {
    font-family: 'AvenirNextCyrRegular';
    src: url('../fonts/AvenirNextCyrRegular/AvenirNextCyrRegular.eot');
    src: url('../fonts/AvenirNextCyrRegular/AvenirNextCyrRegular.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextCyrRegular/AvenirNextCyrRegular.woff2') format('woff2'),
         url('../fonts/AvenirNextCyrRegular/AvenirNextCyrRegular.woff') format('woff'),
         url('../fonts/AvenirNextCyrRegular/AvenirNextCyrRegular.ttf') format('truetype'),
         url('../fonts/AvenirNextCyrRegular/AvenirNextCyrRegular.svg#AvenirNextCyrRegular') format('svg');
}
