.engine-icon{
	width: 100px;
	height: 30px;
}
.footer{
	&__top{
		font-size: 22px;
		color: #4c4d52;
	}
	&__contact{
		a{
			color: #4c4d52;
			border-bottom: 1px solid #4c4d52;

			&:hover{
				color: $darkred;
				border-color: $darkred;
			}
		}
	}
	&__bottom{
		margin-top: 40px;
		padding-bottom: 25px;
	}
}
.copyright{
	font-family: $bold;
	font-size: 18px;

	a{
		color: $blue;
	}
}


.likely .likely__widget{
	color: #fff;
  background: #333;
  border-radius: 0;
  fill: #fff !important;
}
