// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS
$blue: #00c2ff;
$red:  #d70000;
$grey: #666;
$darkred: #d0021b;

// FONTS
$regular: 'AvenirNextCyrRegular';
$bold: 'AvenirNextCyrBold';
$italic: 'AvenirNextCyrItalic';
$bolditalic: 'AvenirNextCyrBoldItalic';